<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style>
      /* Styles for the form */
      form.result {
          margin-top: 20px;
      }
      
      form.result label {
          font-weight: bold;
      }
      
      form.result select,
      form.result textarea {
          margin-bottom: 10px;
          width: 100%;
      }
      
      form.result .button {
          padding: 10px 20px;
          background-color: #eef7ee;
          color: rgb(15, 1, 1);
          border: none;
          cursor: pointer;
          margin-right: 10px;
      }
      
      /* Styles for the result section */
      div.result {
          margin-top: 20px;
          border: 1px solid #ccc;
          padding: 10px;
      }
      
      div.result pre {
          white-space: pre-wrap;
          /* background-color: green; */
      }
      
      /* Styles for the footer */
      footer {
          text-align: center;
          margin-top: 20px;
      }
      /* div {
  background: linear-gradient(to right, #9a77d1, #080805);
  opacity: 2;
} */
/* body{
    background-color: rgba(71, 15, 87, 0.712);
    color: white;
} */
  </style>
  <title >ASCII-ART-WEB</title>
</head>
<body>
    <h1 align="center">ASCII-ART-WEB-EXPORTFILE</h1>
  <form class="result" action="ascii-art" method="POST">
    <label for="select">Banner</label><br>
        <select name="banner">
            <option value="standard">standard</option>
            <option value="shadow">shadow</option>
            <option value="thinkertoy">thinkertoy</option>
        </select><br><br>
    <textarea name="input" required placeholder="type something" rows="7" cols="80"></textarea>
    <button name="sub" class="button" type="submit" value="sub">submit</button>
    <input class="button" type="reset" name="reset" value="Clear">
  </form>
 <div class="result">
            <pre>{{ . }}</pre>
    </div>


 <form id="formatselection" action="/down" method="POST" target="_blank">
        <div>
        <p>Select file type</p>
        <input type="radio" id="txt" name="fileformat" value="txt" checked>
        <label for="txt">txt</label><br>
        <input type="radio" id="doc" name="fileformat" value="doc">
        <label for="doc">doc</label><br>
         <input type="radio" id="pdf" name="fileformat" value="pdf">
        <label for="pdf">pdf</label><br>
        <button name="telecharge" class="button" value="telecharge">Download</button>
        
     </div>
  </form>


   
  <div > 
    <footer>
        <p>Author: MOURIDE ZONE 01 COPYRIGHT<br>
    </footer>
  </div >
</body>
</html>